{{template "master"}} {{define "title"}} Blog Page {{end}}

<div class="container mt-3">
    <h4>All Posts</h4>
  <div class="row justify-content-centers">
    {{if .Check}} {{with .Post}}{{range $idx, $blog := . }}
    <div class="col-12 mb-2">
      <div class="shadow-lg bg-body rounded">
        <div class="card-body">
          <a href="/{{$blog.ID}}" class="card-title text-success" style="text-decoration-line: none"
            >{{ $blog.Title}}</a>
          <p class="text-muted">Posted on: {{$blog.FormatTime $blog.CreatedAt}} By: {{$blog.UserFirstName}} {{$blog.UserLastName}}</p>
          <div class="row card-subtitle mt-2">
<!--            <div class="text-muted col-3">-->
<!--              <h6>Comments: <b class="badge bg-success">{{$blog.Comments}}</b></h6>-->
<!--            </div>-->
<!--            <div class="text-muted col-3">-->
<!--              <h6>Views: <b class="badge bg-success">{{ $blog.Views}}</b></h6>-->
<!--            </div>-->
          </div>
        </div>
      </div>
    </div>
    {{end}}{{end}}
    {{else}}
    <div class="text-danger">No Posts at the Moment, Click on Blogs at the Navbar to create New Post</div>
    {{end}}
  </div>
</div>
