{{template "master"}}

<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-6">
            <!-- {{template "Alert"}} -->
            {{if .Message}}
            <div class="alert alert-{{.Color}}">
                {{ .Message}}
            </div>
            {{end}}
            <form action="{{if .Post.ID}}/{{ .Post.ID}}/update{{ else}}/create{{end}}"
                  method="POST">
                <h4>{{if .Post.ID}}Update Blog{{else}}Create New Blog{{end}}</h4>
                <div class="mb-3">
                    <label for="title" class="form-label">Blog Title</label>
                    <input type="text" name="title" class="form-control" id="title"
                           value="{{if .Post.ID}}{{.Post.Title}}{{end}}"
                           placeholder="Go is the best" required>
                </div>
                <div class="mb-3">
                    <label for="details" class="form-label">Blog Details</label>
                    <textarea class="form-control" id="details"
                              placeholder="Enter Details..."
                              name="details" rows="3" required>{{if .Post.ID}}{{.Post.Details}}{{end}}</textarea>
                </div>
                <div class="mb-3">
                        <button type="submit" class="btn btn-dark btn-block float-right form-control">
                            {{if .Post.ID}}Update Blog {{else}}Create New Blog Post{{end}}
                        </button>
                </div>
            </form>
        </div>
        <div class="col-6">
            <h4>Previous Blog Post</h4>
            {{range .Data.BlogPosts}}

            <div class="row mb-3">
                <a href="#" style="text-decoration: none">{{ .Title}}</a>
                <div class="row">
                    <a href="/{{.ID}}/edit" class="col-2 btn btn-primary btn-sm">Edit</a>
                    <a href="/{{.ID}}/delete" onclick="return confirm('Are you sure you want to delete?')"
                       class="col-2 btn btn-danger btn-sm">Delete</a>
                </div>
            </div>
            {{end}}
        </div>
    </div>
</div>
