<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand">Bayus Blog</a>
        <div class="d-flex">
            <a href="/blog" class="navbar-brand">Home</a>
            <a href="/user/my-blog-posts" class="navbar-brand">My Blogs</a>
            <a href="/user/logout" onclick="return confirm('Are you sure you want to log out?')" class="navbar-brand">Logout</a>
        </div>
        <!--        <form class="d-flex">-->
        <!--            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
        <!--            <button class="btn btn-outline-success" type="submit">Search</button>-->
        <!--        </form>-->
    </div>
</nav>